{
    "development": {
        "username": "docker",
        "password": "docker",
        "database": "starterkit2",
        "dialect": "postgres",
        "host": "localhost"
    },
    "qa": {
      "username": "docker",
      "password": "docker",
      "database": "starterkit",
      "dialect": "postgres",
      "host": "localhost"
    },
    "uat": {
      "username": "docker",
      "password": "docker",
      "database": "starterkit",
      "dialect": "postgres",
      "host": "localhost"
    },
    "production": {
      "username": "docker",
      "password": "docker",
      "database": "starterkit",
      "dialect": "postgres",
      "host": "localhost"
    },
    "test": {
      "username": "docker",
      "password": "docker",
      "database": "starterkit",
      "dialect": "postgres",
      "host": "localhost"
    }
  }